<!-- SECCION PORTFOLIO -->
<section id="portfolio" class="portfolio">
  <div class="contenido-seccion">
      <h2>PORTFOLIO</h2>
      <div class="galeria">
          <div class="proyecto">
              <img src="img/CALZADO.png" alt="">
              <div class="overlay">
                  <h3>Proceso Productivo</h3>
                  <p>Desarrollo y Diseño</p>
              </div>
          </div>
          <div class="proyecto">
              <img src="img/mercadolibre PBI.png" alt="">
              <div class="overlay">
                  <h3>Power BI Mercadolibre</h3>
