 <!-- SECCION CURRICULUM -->
<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        <h2>Curriculum</h2>
        <div class="fila">
            <div class="col izquierda">
                <h3>Educación</h3>
                <div class="item izq">
                    <h4>Lic. Administración Empresas</h4>
                    <span class="casa">Universidad Nacional de Córdoba UNC</span>
                    <span class="fecha">2017</span>
                    <p>Planear, organizar, dirigir y controlar los recursos de la organización hacia objetivos de corto y largo plazo</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Bachiller Contador Público</h4>
                    <span class="casa">Universidad Nacional de Córdoba UNC</span>
                    <span class="fecha">2017</span>
                    <p>Conocimiento contables, impuestos, auditoría para cierre de balalnce</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Data Analytics</h4>
                    <span class="casa">Coderhause</span>
                    <span class="fecha">2003</span>
                    <p>El análisis de los datos para la obtensión de indicdores de rendimiento, retorno de la inversion , entre otros. Dashboard de análisis de información</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
            </div>

            <div class="col derecha">
                <h3>Experiencia de trabajo</h3>
                <div class="item der">
                    <h4>Controller de gestión - Data Analytics</h4>
                    <span class="casa">Gauros Viviendas</span>
                    <span class="fecha">2022 a la fecha</span>
                    <p>Análisis de datos, control de Gestión. Análisis Funcional ( desde la perspectiva de la empresa en querer desarrollar un software a medida, por lo cual, poder determinar las necesidades de cada sector interviniente en el proceso productivo y poder plasmarlo en el desarrollo del sistema. Manejo de CRM del sector ventas. Como támbién determinación de Costos</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <h4>Analista Administrativa</h4>
                    <span class="casa">Vesinm SAICYF</span>
                    <span class="fecha">2020 - 2022</span>
                    <p>Responsable del sector agropecuarios en cuanto registraciones contables, pago a proveedores, realización de flijos de fondos, análisis de costos, confección de cartas de porte, CTG para despacho en puerto. Manejo y puesta a punto del sistema SYNAGRO agripecuario para que se adapte a las necesidades y requerimientos de la empresa.
                      Colaboracion al sector contructora, en el pago a proveedores y confeccione de retenciones ganancia. Participación en la contabilidad del balance general por las tareas desempeñadas en ambos sectores.
                    </p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <h4>Analista Administrativa</h4>
                    <span class="casa">Electrodos Córdoba</span>
                    <span class="fecha">2018 - 2020</span>
                    <p>Análisis de Proceso contable para el desarrollo e implementación del sistema software Softtech ( Villa Maria), Registraciones contables. Conciliación de tarjetas y bancos.</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>