<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
        <h2>PORTFOLIO</h2>
        <div class="galeria">
            <div class="proyecto">
                <img src="img/CALZADO.png" alt="">
                <div class="overlay">
                    <h3>Proceso Productivo</h3>
                    <p>Desarrollo y Diseño</p>
                </div>
            </div>
            <div class="proyecto">
                <img src="img/mercadolibre PBI.png" alt="">
                <div class="overlay">
                    <h3>Power BI Mercadolibre</h3>
                    <p>Data Analytics</p>
                </div>
            </div>
            <div class="proyecto">
                <img src="img/mercadolibre PBI 2.png" alt="">
                <div class="overlay">
                    <h3>Power BI Mercadolibre</h3>
                    <p>Data Analytics</p>
                </div>
            </div>
            <div class="proyecto">
                <img src="img/p4.jpg" alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Fotografía</p>
                </div>
            </div>
            <div class="proyecto">
                <img src="img/p5.jpg" alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Fotografía</p>
                </div>
            </div>
            <div class="proyecto">
                <img src="img/p6.jpg" alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Fotografía</p>
                </div>
            </div>
        </div>
    </div>
</section>