<!--SECCION SOBRE MI-->
<Section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
      <h2> Sobre Mi</h2>
      <p><span>Hola soy Flavia.</span> Especializada en planear, organizar, dirigir y controlar los recursos de la  organización. Aplico mis conocimientos contables, en finanzas, recursos  humanos, marketing y producción, para optimizar el trabajo hacia
        resultados, desde una perspectiva integral y de largo plazo.
        Apoyo la gestión de la empresa y formo parte de los equipos de trabajo.  Tengo experiencia en el Área Contable Administrativa , Control de Gestión y Análisis de Datos.</p>
        <div class="fila">
          <!--Datos Personales-->
          <div class="col">
           <h3>Datos Personales</h3>
           <ul>
            <li>
              <strong>Cumpleños</strong>
              21-09-1984
            </li>
            <li>
              <strong>Telefono</strong>
              +54 351 2199046
            </li>
            <li>
              <strong>Mail</strong>
              flavia.radici@mi.unc.edu.ar
            </li>
          </ul>
          </div>
          <!--Intereses-->
          <div class="col">
            <h3>Intereses</h3> 
            <div class="contenedor-intereses">
              <div class="intereses">
                <i class="fa-solid fa-person-running"></i>
                <span>Deportes</span>   
              </div>
            </div>
         </div>
         
         <button>
          Descargar CV <i class="fa-sharp fa-solid fa-download"></i>
          <span class="overlay"></span>
         </button>
        </div>
    </div>
   </Section>
   